<h1>Create a new figure</h1>
<form class="" action="/figures/new" method="post">
  <label for="">Enter figure's name: </label>
  <input type="text" name="figure[name]" id="figure_name" value="">

  <br></br>

  <label for="">Choose associated titles: </label>
  <%Title.all.each do |obj|%>
  <input type="checkbox" name="figure[title_ids][]" id="title_<%=obj.id%>" value="<%=obj.id%>"><%=obj.name%></input>
  <%end%>

  <br></br>

  <label for="">and/or add new title: </label>
  <input type="text" name="title[name]" id="new_title" value="">

  <br></br>

  <label for="">Choose associated landmarks: </label>
  <%Landmark.all.each do |landmark|%>
  <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%=landmark.id%>" value="<%=landmark.id%>"><%=landmark.name%></input>
  <%end%>

  <br></br>

  <label for="">and/or add new landmark: </label>
  <input type="text" name="landmark[name]" id="new_landmark" value="">

  <br></br>

  <input type="submit" name="" id="Create New Figure" value="Create New Figure">
</form>
